<!DOCTYPE html>
<html>
<head>
  <title>FacebookAuth</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 align ="center"><font color="red">//Facebook Authentication using Ruby On Rails4//</font> </h1>
<div id="user_nav">
  <% if current_user %>
  <center>  Signed in as <strong><%= current_user.name %></strong>!<br>
    <%= link_to "Click here to Sign out", signout_path, id: "sign_out" %></center>
  <% else %>
  <center>  <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></center>
    
  <% end %>

</div>
<%= yield %>
<center><h2><font color="red"> Profile Picture <br></font></2><img src="<%= @image %>"/></center>
  
</body>
</html>